/* Background styling */
.register-page {
    background: url('../../assets/images/login-register-img.jpg') no-repeat center center fixed;
    height: 100vh;
  }
  
  /* Registration box styling */
  .register-box {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
  }
  